 Checks: '-*,bugprone-*,modernize-*,performance-*,readability-*,llvm-*,clang-analyzer-*,-modernize-use-trailing-return-type,-modernize-avoid-c-arrays,-readability-identifier-length,-readability-magic-numbers,-llvm-header-guard,-bugprone-easily-swappable-parameters'

FormatStyle: file

CheckOptions:
  - key: readability-function-cognitive-complexity.Threshold # this did't work?
    value: '32'
